* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

@media all and (min-width: 991px) {

    /* ------------------------------- navbar */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: inline-block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0px;
    }

    .navbar-brand {
        color: #e74c3c;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: black;
        margin-left: 20px;
    }

    .submit-btn {
        font-size: 20px;
    }

    .collapse ul li a {
        color: black;
    }

    .form-control {
        font-size: 16px;
        margin-top: 2px;
        width: 200px;
        height: 40px;
    }

    .dropdown-item:hover {
        color: white;
        background-color: #e74c3c;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 18px;
        position: relative;
        margin: 0px 10px 0px 10px;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fdfdfd;
        border-top: 4px solid #e74c3c;
    }

    .navbar-expand-lg .navbar-nav .nav-link:active {
        border-top: 4px solid #e74c3c;
        color: #e74c3c;
    }


    .navbar-collapse {
        margin-right: 200px;
    }

    /* --------------------------------- m-e right navbar */
    .notif button {
        border-radius: 50%;
        margin-right: 10px;
    }

    .u-drop button {
        color: white;
        background-color: #f7341e;
    }

    .u-drop button:hover {
        color: rgb(221, 219, 219);
        background-color: #dd1e09;
    }




    .notif button {
        color: white;
        margin-top: 10px;
        background-color: #f7341e;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .n-button :hover {
        margin-top: 10px;
        color: rgb(221, 219, 219);
        background-color: #dd1e09;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    /* ------------------------------------------------ hero */
    .heroimage {
        background-image: url(../../../../image/mentah/ruang_rumahsakit.png) !important;
        background: no-repeat center center;
        background-size: cover;
        min-height: 80vh;
        position: relative;
        color: white;
    }

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.8);
    }



    /* ------------------- search bar*/
    .search-bar {
        width: 100%;
        max-width: 700px;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px;
    }

    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
        color: #ffffff;
    }

    ::placeholder {
        color: #919fa5;
    }

    .search-bar p {
        font-size: 25px;
        padding-top: 10px;
        margin-right: 5px;
    }

    .search-bar button {
        color: rgb(134, 186, 235);
        font-size: 25px;
    }

    .search-bar button :hover {
        color: rgb(42, 105, 240);
    }

    /* ----------------------- main menu */
    .main-menu {
        border: #cabbe9 2px solid;
        height: 1000px;
        margin-top: 80px;
    }

    .main-menu-container {
        border: #dd1e09 2px solid;
        width: 1700px;
        box-sizing: content-box;
    }

    .navbar-menu {
        border: #919fa5 2px solid;
        width: 100%;
    }

    /* --------------------------------------item-item */
    .item-item {
        margin-left: 10px;
    }

    /* --------------------------------------card-container */
    .card-container {
        border: blue 2px solid;
    }

    .grid-item {
        margin-top: 20px;
    }

    /* --------------------------------------card-card */
    .card-item {
        height: 300px;
    }

    .card-card {
        margin-top: 50px;
    }


    /* -------------------------------------pagination */
    .pagination {
        margin-top: 100px;
    }

    /* ----------------------------------- main content */
    .main-content-wrap {
        margin-top: 50px;
    }

    .main-content-wrap h1 {
        display: flex;
        justify-items: center;
    }

    .main-content {
        margin-top: 30px;
        margin-bottom: 50px;
    }





}




/* ---------------------------------------------------- media responsive */
@media only screen and (min-width: 280px) and (max-width: 990px) {
    .nav-link {
        font-size: 10px;
    }

    .navbar-brand {
        color: #cabbe9;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: black;
    }

    .navbar-expand-lg .navbar-nav .nav-link:active {
        border-top: 4px solid #e74c3c;
        color: #e74c3c;
    }

    /* -------------------------------------account log-in */
    .account,
    .account a {
        text-decoration: none;
        color: black;
        list-style-type: none;
    }

    .account a {
        color: white;
        text-decoration: none;
    }

    .account {
        display: flex;
    }

    .account-drop li a {
        color: black;
    }

    .notif button {
        border-radius: 50%;
        margin-right: 10px;
    }

    .u-drop button {
        color: white;
        background-color: #f7341e;
    }

    .u-drop button:hover {
        color: rgb(221, 219, 219);
        background-color: #dd1e09;
    }




    .notif button {
        color: white;
        margin-top: 10px;
        background-color: #f7341e;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .n-button :hover {
        margin-top: 10px;
        color: rgb(221, 219, 219);
        background-color: #dd1e09;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    /* ---------------------------------- background image */
    .heroimage {
        background-image: url(../../image/mentah/ruang_rumahsakit.png) !important;
        background: no-repeat center center;
        background-size: cover;
        min-height: 70vh;
        position: relative;
        color: white;
    }

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* ----------------------------------------- search-bar */
    .heroimage {
        background-image: url(../../../../image/mentah/ruang_rumahsakit.png) !important;
        background: no-repeat center center;
        background-size: cover;
        min-height: 80vh;
        position: relative;
        color: white;
    }

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .search-bar {
        width: 100%;
        max-width: 700px;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px;
    }

    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
        color: #ffffff;
    }

    ::placeholder {
        color: #a2afb4;
    }

    .search-bar p {
        font-size: 25px;
        padding-top: 10px;
        margin-right: 5px;
    }

    .search-bar button {
        color: rgb(134, 186, 235);
        font-size: 25px;
    }

    .search-bar button :hover {
        color: rgb(42, 105, 240);
    }

    /* --------------------------------------------------- main menu */
    .main-menu {
        display: flex;
        /* border: #2da2d4 2px solid; */
        overflow-x: hidden;
        flex-direction: column;
    }

    .card-item {
        display: flex !important;
        flex-direction: column;
    }

    .col-4 {
        width: 300px;
    }

    .col-4 {
        box-sizing: content-box;
    }

    /* -------------------- main content */
    .main-content {
        flex-wrap: wrap;
    }

}